<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wooh!</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/static/favicon.ico" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Wooh!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bmi">BMI</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/recipes">Recipes</a>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" href="/food-intake">Recipes</a>
            </li>
            {% if g.user %}
            <li class="nav-item">
              <a class="nav-link" href="/food-journal">Food Journal</a>
            </li>
            {% endif %}

            <!-- temp bootstrap items in case needed later on -->
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
            <!-- <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not g.user %}
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log in</a>
            </li>
            {% else %}
            <li>
              <a href="/users/profile">
                <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}" />
              </a>
            </li>
            <li><a class="nav-link" href="/logout">Log out</a></li>
            {% endif %}
          </ul>
          <!-- <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form> -->
        </div>
      </div>
    </nav>
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}{% block content %} {% endblock %}
    </div>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
  </body>
</html>
