{% extends 'base.html' %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container"> 
  <h1>{{g.user.username}}'s Progress</h1>
  <p>Body Mass Index(BMI) is a quick and easy tool to screen for weight categories. It is calculated using a person's height and weight with the formula below: </p>
  <p> <b>BMI = weight (lb) / [height (in)]<sup>2</sup> x 703</b> </p>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Weight</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">BMI</button>
      
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> 
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Weight</h5>
          <canvas id="weightLineChart" width="900" height="400"> </canvas>
          <br>
          <p>In this section, you will find two line-charts, separated by tabs; One for weight, and one for BMI as shown on the vertical axis of the chart. The blue line indicates the last 7 weights you have recorded, and the weight range between two pink lines is considered normal weight. As of <b>{{last_date}}</b>, you weight was <b>{{g.user.weight}}</b> pounds. According to BMI guidelines, at your height of <b>{{g.user.height}}</b> inches, the normal weight is between <b>{{low}}</b> and <b>{{high}}</b> pounds.
            </p>
        </div>
      </div>
      
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">BMI</h5>
          <canvas id="BMILineChart" width="900" height="400"> </canvas>
          <br>
          <p>In this section, you will find two line-charts, separated by tabs; One for weight, and one for BMI as shown on the vertical axis of the chart. The blue line indicates the last 7 weights you have recorded, and the weight range between two pink lines is considered normal weight. As of <b>{{last_date}}</b>, you weight was <b>{{g.user.weight}}</b> pounds. According to BMI guidelines, at your height of <b>{{g.user.height}}</b> inches, the normal weight is between <b>{{low}}</b> and <b>{{high}}</b> pounds.
          </p>
        </div>
      </div>
       
    </div>
  </div>

  <br>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        More information on calories burnt calculation
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p> First, your Basal Metabolic Rate(BMR) is calculated; this is the number of calories your body needs to function at rest.
          <ul><li>For Females: BMR = 655.1 + (4.35 x weight) + (4.7 x height) – (4.7 x age)</li>
          <li>
            For Males: BMR = 66 + (6.2 x weight) + (12.7 x height) – (6.76 x age)
          </li></ul>
        </p>
        <p>Next, your activity level is identified with a number.[current: {{g.user.activity_level}}]
          <ul>
            <li>1.2, or sedentary (little to no exercise)</li>
            <li>1.375, or lightly active (light exercise 1–3 days per week)</li>
            <li>1.55, or moderately active (moderate exercise 3–5 days per week)</li>
            <li>1.725, or very active (hard exercise 6–7 days per week)</li>
            <li>1.9, or extra active (very hard exercise, training, or a physical job)</li>
          </ul>
        </p>
        <p>Finally, the amount of calories burnt is calculated by multiplying the Acitivity level by the BMR.</p>
      </div>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Calories</h5>
      <canvas id="caloriesInLineChart" width="900" height="400"> </canvas>
      <br>
      <p>Calories really do matter. The blue bars represent the amount of calories intake logged per day. The red bars, utilizing the Harris-Benedict's formula, represent the average amount of calories burnt based on your height, weight, gender, age and activity level. The pink-dotted line represent amount of calories to consume in order to reach your selected goal of <b>"{{g.user.diet_plan}}."</b> </p>
      
    </div>
  </div>
  <br>
 
  <script>
    let ctx = document.getElementById("caloriesInLineChart").getContext("2d");
    let caloriesInLineChart = new Chart(ctx,{
      type:"bar",
      data:{
        labels:{{ labels | safe}},

        datasets:[
          {
            label: "Calories In",
            data:{{values | safe}},
            fill: true,
            borderColor:"rgb(0,192,255)",
            backgroundColor: "rgba(0,192,255,.5)",
          },
          {
            label: "Calories Out",
            data:{{values7 | safe}},
            fill: true,
            borderColor:"rgb(0,192,255)",
            backgroundColor: "rgba(255,0,100,.5)",
          },
          {
            label: 'Goal Calories Intake',
            data: {{values8 | safe}},
            borderDash: [5, 5],
            borderColor:"rgb(255,0,192)",
            type: 'line',
          }
        ]
      },
      option:{
        responsive: false,
      }

    });
    let bmiC = document.getElementById("BMILineChart").getContext("2d");
    let BMILineChart = new Chart(bmiC,{
      type:"line",
      data:{
        labels:{{ labels1 | safe}},


        datasets:[
          {
            label: "BMI",
            data:{{values1 | safe}},
            fill: false,
            borderColor:"rgb(0,192,255)",

          },
          {
            label: "ideal-low",
            borderDash: [5, 5],
            data:{{values3 | safe}},
            fill: false,
            borderColor:"rgb(255,0,192)",
          },
          {
            label: "ideal-high",
            borderDash: [5, 5],
            data:{{values4 | safe}},
            fill: false,
            borderColor:"rgb(255,0,192)",
          },
        ]
      },

      
    });
    let weightC = document.getElementById("weightLineChart").getContext("2d");
    let weightLineChart = new Chart(weightC,{
      type:"line",
      data:{
        labels:{{ labels1 | safe}},

        datasets:[

          {
            label: "weight",
            data:{{values2 | safe}},
            fill: false,
            borderColor:"rgb(0,192,255)",

          },
          {
            label: "ideal-low",
            borderDash: [5, 5],
            data:{{values5 | safe}},
            fill: false,
            borderColor:"rgb(255,0,192)",


          },
          {
            label: "ideal-high",
            borderDash: [5, 5],
            data:{{values6 | safe}},
            fill: false,
            borderColor:"rgb(255,0,192)",
          },
        ]
      },
      options:{
        responsive: true,

      }
    });
  </script>
</div>
</div>
</div>
{% endblock %}
