{% extends 'base.html' %} {% block content %}
<div class="home-loggedout">
  <h1 class="text-center">Calculate your BMI</h1>
  <div class="row justify-content-center">
    <div>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {% for field in form if field.widget.input_type != 'hidden'%}
          <p>
            {{field.label(class_="form-label")}}
            {{field(class_="form-control")}} {% for err in field.errors %}
            {{err}} {% endfor %}
          </p>
          {% endfor %}
          <button class="btn btn-primary">Add</button>
        </div>
      </form>
      <p>
        {% if bmi %}Your BMI is {{bmi}}, in the {{bmi_cat}} range{% endif %}
      </p>
    </div>
  </div>
</div>

{% endblock %}
