{% extends 'base.html' %} {% block content %}
<div class="home-loggedout">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Edit User</h1>
      <div class="row justify-content-center">
        <div>
          <form method="POST">
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden' and field.name != 'password' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %} <b>{{field.label(class_="form-label")}} </b>{{
            field(placeholder=field.label.text, class="form-control") }} {%
            endfor %}

            <p><b>Enter your password to confirm updates:</b></p>
            {% if form.password.errors %} {% for error in form.password.errors
            %}
            <span class="text-danger"> {{ error }} </span>
            {% endfor %} {% endif %} {{ form.password(placeholder=" Password",
            class="form-control") }}

            <div class="edit-btn-area">
              <button class="btn btn-success">Update my profile!</button>
              <a href="/" class="btn btn-outline-secondary">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
